body
	background-color white

footer {
  display: block;
  margin: 0 auto;
  width: 80%;
  background-color: black;
  color: white;
  text-align: center;
}

.hidden {
  visibility: hidden
}

.top-nav {
  display:block;
  margin:0 auto;
  width:80%;
}

.top-nav ul {
  display:flex ;
  flex-wrap:wrap ;
  justify-content:space-between ;
  list-style:none ;
  -webkit-padding-start:0;
}

.top-nav li {
  flex: 1 0 auto ;
  text-align: center ;
  background-color : #40a070;
}

.completed {
  font-style: oblique ;
}

#task-container {

  width:100%;
}

#new-task input {
  width:100%;
}

#task-list li {

}

#main-content {
  margin: 0 auto ;
  width:600px;
}
