body
	background-color white

footer {
  display: block;
  margin: 0 auto;
  padding: 5px;
  width: 80%;
  background-color: grey;
  color: black;
  text-align: center;
}

footer a:active
footer a:visited {
  color:black;
}

footer a:hover{
  color:white;
}

.hidden {
  visibility: hidden ;
  display: none;
}

.top-nav {
  display: block;
  margin: 0 auto;
  padding: 5px;
  width: 80%;
  background-color: black;
  color: white;
  text-align: center;
}

.top-nav ul {
  display:flex ;
  flex-wrap:wrap ;
  justify-content:space-between ;
  list-style:none ;
  -webkit-padding-start:0;
}

.top-nav li {
  flex: 1 0 auto ;
  text-align: center ;
  background-color : #40a070;
}



.completed {
  font-style: oblique ;
}

#task-container {
  width:100%;
}

#new-task {

  width:100%;
  display:block;
  padding:1%;

}

#new-task input {
  width:100%;

}

#task-list li {

}

#main-content {
  margin: 0 auto ;
  width:600px;
}
