body
	background-color white

.top-nav {
  display:block;
  margin:0 auto;
  max-width:500px;
}

.top-nav ul {
  display:flex ;
  flex-wrap:wrap ;
  justify-content:space-between ;
  list-style:none ;
}

.top-nav li {
  flex: 1 0 auto ;
  text-align: center ;
}

#main-content {
  margin: 0 auto ;
  width:500px;
}
