#footer {
  display: block;
  //margin: 0 auto;

  width: 100%;
  height: 40px;
  color: black;
  background-color:#f5fcea;
  font-size:14px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;

}

#footer a:active
#footer a:visited {
  color:black;
}

#footer a:hover{
  color:white;
}

#footer button {
  background-color:lightgreen;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -moz-box-shadow: 0 1px 2px 0 #768166;
  -webkit-box-shadow: 0 1px 2px 0 #768166;
  box-shadow: 0 1px 2px 0 #768166;
  border-radius:3px;
  border:none;
  //border-color:green;
}

#footer-content {
  display:block ;
  padding-left: 5%;
  padding-right: 5%;
  width:90%;
  padding-top: 12px;
}

#filter-button {

  width:60%;
  float:left;
  text-align:center;
}

#tasks-left {
  width:20%;
  float:left;
}

#clear-button-container {
  width:20%;
  float:right;
  text-align :right;
}

@media screen and (max-width:480px) {

  #footer {
    font-size: 10px;
  }



}
