#footer {
  display: block;
  margin: 0 auto;

  width: 100%;
  color: black;
  background-color:lightgreen;
  text-align: center;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;

}

#footer-content {
  display:block ;
  padding: 5px;
}

#footer a:active
#footer a:visited {
  color:black;
}

#footer a:hover{
  color:white;
}
